// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #2c567a
$secondary = #26A69A
$accent    = #9C27B0

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

.text-custom1 {
  color: #075aaa;
}

.text-custom2 {
  color: #eb2226;
}

.text-custom3 {
  color: #01295c;
}

.text-custom4 {
  color: #efe9e5;
}

.bg-custom1 {
  background: #075aaa;
}

.bg-custom2 {
  background: #eb2226;
}

.bg-custom3 {
  background: #01295c;
}

.bg-custom4 {
  background: #efe9e5;
}
